<div>
    <div class="jumbotron">
    </div>
    <div class="container-fluid">
    <div class="tryThis">
      <div class="container">
        <p id="header-text">Curabitur condimentum ultrices erat. Sed convallis et sem vitae molestie. Ut iaculis mi ac ex tempor, sed porttitor nibh
                    semper. Praesent sed felis tempor, hendrerit purus id, pretium nisi. Curabitur condimentum ultricies
                    tortor et hendrerit. Nam convallis tortor dui. Maecenas vitae est in eros varius maximus. Pellentesque
                    a imperdiet est, in rutrum dui. Fusce ultrici</p>
      </div>
    </div>
        <div class="row">
            <div class="col-md-6">
                <p>
                    Curabitur condimentum ultrices erat. Sed convallis et sem vitae molestie. Ut iaculis mi ac ex tempor, sed porttitor nibh
                    semper. Praesent sed felis tempor, hendrerit purus id, pretium nisi. Curabitur condimentum ultricies
                    tortor et hendrerit. Nam convallis tortor dui. Maecenas vitae est in eros varius maximus. Pellentesque
                    a imperdiet est, in rutrum dui. Fusce ultricies augue nec sollicitudin tempor. Class aptent taciti sociosqu
                    ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean quis justo eget sapien cursus dictum.
                    Proin nec vehicula lorem, ac viverra diam. Donec pharetra nibh nibh, ac accumsan sem consequat eu. Duis
                    pharetra libero vitae est venenatis consectetur. Donec sed lectus scelerisque, convallis enim at, dictum
                    enim.
                </p>
            </div>
            <div class="col-md-6">
                <p>
                    Nunc faucibus mi non neque tincidunt ullamcorper. Integer euismod varius leo a ultrices. Vestibulum ante ipsum primis in
                    faucibus orci luctus et ultrices posuere cubilia Curae; Integer turpis nisi, egestas at tellus a, tincidunt
                    mattis libero. Curabitur vel leo metus. Nunc interdum placerat molestie. Cras semper congue neque, ut
                    aliquam leo sollicitudin quis. Morbi bibendum justo et sem vestibulum convallis. Donec fringilla a turpis
                    vitae posuere. Aenean congue libero at elementum pulvinar. Donec semper congue purus semper laoreet.
                    Quisque scelerisque at tellus nec consequat. Vestibulum varius nulla nibh, sit amet egestas ex sagittis
                    in.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <img class="img-responsive" src="https://scontent.xx.fbcdn.net/v/t1.0-9/14732179_10154447352210469_800453909303136698_n.jpg?oh=c16a24f0d63204f9bd8767eeae1d974a&oe=58C90AB2"
                    alt "car one"/>
            </div>
            <div class="col-lg-4">
                <img class="img-responsive" src="https://scontent.xx.fbcdn.net/v/t1.0-9/14717051_10154447352505469_5914893344023783907_n.jpg?oh=2c7c94837486efba97290266eb89282c&oe=58C12059"
                    alt "car one"/>
            </div>
            <div class="col-lg-4">
                <img class="img-responsive" src="https://scontent.xx.fbcdn.net/v/t1.0-9/14721519_10154447351920469_3528287944685893087_n.jpg?oh=26d6e7cc5e0c080f3e4687260c04bdf8&oe=58B20AAF"
                    alt "car one"/>
            </div>
        </div>
    </div>
</div>