<div class="col-lg-2 col-lg-offset-1">
  <h1>Contact List</h1>
  <li style="list-style:none;"ng-repeat="contact in main.contacts">Name: {{contact.firstName}} {{contact.lastName}} <br />Phone Number: {{contact.phone}} <br />Address: {{contact.homeAddress}}<br />City: {{contact.city}}<br />State: {{contact.state}}<br />ZipCode: {{contact.zipCode}}<br />
  <button  class="btn btn-danger" ng-click="main.deleteContact(contact)">Delete</button><br /><br /></li>
</div>
<div class="col-lg-8 col-lg-offset--1">
 <form>
   <h1>Add New Contact</h1>
   <div class="form-group">
    <label for="first-name">First Name:</label> <input type="text" class="form-control" id="first-name" ng-model="main.newContact.firstName" />
   </div>
   <div class="form-group">
    <label for="last-name">Last Name:</label><input type="text" class="form-control" id="last-name" ng-model="main.newContact.lastName" />
    </div>
    <div class="form-group">
    <label for="phone">Phone:</label><input type="text" class="form-control" id="phone" ng-model="main.newContact.phoneNumber" />
    </div>
    <div class="form-group">
    <label for="address">Address:</label><input type="text" class="form-control" id="address" ng-model="main.newContact.homeAddress.home" />
    </div>
    <div class="form-group">
    <label for="city">City:</label><input type="text" class="form-control" id="city" ng-model="main.newContact.homeAddress.city" />
    </div>
    <div class="form-group">
    <label for="state">State:</label><input type="text" class="form-control" id="state" ng-model="main.newContact.homeAddress.state" />
    </div>
    <div class="form-group">
    <label for="zipcode">Zipcode:</label><input type="text" class="form-control" id="zipcode" ng-model="main.newContact.homeAddress.zipCode" />
    </div>
    <input type="submit" class="btn btn-primary" ng-click="main.addNewContact(main.newContact)" value="Save" />
  </form>
</div>


